body {
    background-color: #e9e8da;
};
.curte {
    font-family: 'Open Sans', sans-serif;
    background-color: #e9e8da;
}
/*.curte [data-animation] {
    opacity: 0;
}*/
.curte ul {
    list-style-type: none;
}
.curte h1,
.curte h2,
.curte h3,
.curte h4,
.curte h5,
.curte h6 {
    font-weight: 400;
}
.curte h1 {
    font-weight: 700;
    letter-spacing: -1px;
}
.curte a:hover {
    text-decoration: none;
}
.curte .btn {
    border-radius: 0;
}
.curte .btn:active {
    box-shadow: none;
    border-radius: 0px!important;
}
.curte .btn:focus {
    outline: thin dotted #FFFFFF;
    outline-offset: 0;
}
.curte .btn:hover,
.curte .btn:focus {
    color: #fff;
}
.curte .form-control:focus {
    border-color: #ff7000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 112, 0, 0.6);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 122, 0, 0.6);
    transition: border-color 0.7s, box-shadow 0.7s;
    -webkit-transition: border-color 0.7s, box-shadow 0.7s;
}
.curte .wrap {
    width: 100%;
}
.curte .top-buffer {
    margin-top: 20px;
}
.curte.principal {
    background-color: #e9e8da;
}
.curte.principal .wrap {
    padding-top: 50px;
}
.curte.principal .form-wrap {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
.curte.principal .form-control:focus {
    border: none;
    box-shadow: 0 0 5px #78b310;
}
.curte.principal input[type="url"] {
    box-shadow: none;
    padding-left: 10px;
    margin-bottom: 20px;
    height: 45px;
    color: #505050;
}
.curte.principal .brand {
    text-align: center;
    margin-top: 40px;
}
.curte.principal .brand h2 {
    font-size: 30px;
    font-weight: 700;
    color: #C0BFB5;
}
.curte.principal .brand p {
    color: #C0BDB0;
    font-size: 13px;
}
.curte.principal .main h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
.curte.principal .main form {
    margin-top: 30px;
}
.curte.principal .horizontal-divider {
    margin: 0 auto;
    position: relative;
    width: 1px;
    height: 250px;
    background-color: #cccccc;
}
.curte.principal .reset {
    padding: 10px 15px;
    border-radius: 3px;
    background-color: #78b310;
    color: #ffffff;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}
.curte.principal .reset:hover {
    background-color: #8cc735;
}
.curte.principal .reset:active {
    border-radius: 3px!important;
}
@media (max-width: 767px) {
    .curte.principal .brand {
        text-align: right;
    }
    .curte.principal .brand h2 {
        margin-bottom: 0;
    }
    .curte.principal .main {
        margin-top: 50px;
    }
}
#qrcode {
    float: right;
}