/* Body and structure
-------------------------------------------------- */
body {
    padding-top: 10%;
    padding-bottom: 40px;
}

/* Other
------------------------- */
#fan {
    position: absolute;
    bottom: 20px;
    right: 20px;
}