/* 
    Document   : main
    Created on : 19.09.2011., 11.13.00
    Author     : vladica savic
    Description:
        Main CSS file for LANDEROUS project.
*/

/*
    Include clear.css to reset all browser defaults stylesheets, and include all
    common frequently used CSS classes.
*/

@import url("common.css");

body {
    background: url('../images/background.png');
}
div.hide {
    display: none;
}
div.wrapper {
    width: 900px;
}
div.topPadding {
    margin-top: 50px;
}
div.info {
    width: 615px;
    position: absolute;
    font-family: 'BebasNeueRegular';
    color: #969696;
    font-size: 47px;
    line-height: 45px;
    margin-top: 35px;
}
div.info a {
    color: #004C66;
    text-decoration: none;
}
div.lightBlue {
    background: url('../images/light_gray_bg.jpg');
    padding-bottom: 15px;
    padding-top: 30px;
}
div.darkBlue {
    background: url('../images/dark_gray_bg.jpg');
    padding: 32px 0;
}
div.subscribe {
    background: url('../images/subscribe_bg.png');
    background-repeat: no-repeat;
    padding: 15px;
    width: 870px;
}
input.subscribe {
    background: url('../images/subscribe_bar.png');
    background-repeat: no-repeat;
    border: none;
    vertical-align: top;
    padding: 11px 15px;
    width: 655px;
    font-family: 'Abel';
    font-size: 24px;
    color: #A3A3A3;
}
button.signUp {
    background: url('../images/sign_up_btn.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    border: none;
    font-family: 'Abel';
    font-size: 30px;
    width: 170px;
    height: 52px;
    vertical-align: middle;
    cursor: pointer;
    color: #FFFFFF;
}
button.signUp:hover {
    background-position: 0 100%;
}
p.plainText {
    color: #FFFFFF;
    font-family: 'Maven Pro';
    font-size: 13px;
    margin-top: 15px;
    text-align: justify;
    margin-bottom: 20px;
    line-height: 18px;
}
div.footer {
    color: #8A8A8A;
    font-family: 'Maven Pro';
    font-size: 13px;
    height: 70px;
    margin-top: 20px;
}
div.footer a {
    color: #8A8A8A;
}
div.copyright {
    padding-top: 10px;
}