<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
    <!-- app@main1.rss -->
    <channel>
        <title><![CDATA[<!-- !name -->]]></title>
        <description><![CDATA[Encurtador de site!]]></description>
        <link>http://curte.eu</link>
        <language>pt-br</language>
        <!-- each ($rss) post -->
        <item>
            <title><![CDATA[<!-- decode ($post.titulo) -->]]></title>
            <link>http://curte.eu/<!-- $post.codigo --></link>
            <description><![CDATA[<p><!-- decode ($post.descricao) --></p><p><b><!-- $post.visualizacoes --></b> visualizações.</p>]]></description>
            <category>site</category>
            <pubDate><!-- $post.data --></pubDate>
        </item>
        <!-- end post -->
    </channel>
</rss>