body {
	background: #0f0c14 url(../images/dark/background.jpg) no-repeat;
	background-position: 50% 55px;
	}

#MastHead {
	background: url(../images/dark/bar.jpg);
	background-repeat: repeat-x;
	}
	
#MastHeadInner {
	background: url(../images/logo.png) top left no-repeat;
}

#TopBorder {
	background: url(../images/dark/topborder.png) no-repeat;
}

#BottomBorder {
	background: url(../images/dark/bottomborder.png) no-repeat;
}

#Container {
		background: url(../images/dark/containerbg.png) repeat-y;
}
