h1 {margin: 0; padding: 0;}

input, label {padding: 0; margin: 0;}

input.term {float: left; margin: -10px 0 4px 0; padding: 0 0 0 3px;}

.submit {margin-top: 0;}

#Information {
	padding-left: 14px;
}

a.homepage:link, a.homepage:visited {
	background: url(../images/house.gif) -2px top no-repeat;
}

ul.menu li.heading a:link, ul.menu li.heading a:visited {
	border-bottom: 1px solid #d7d7d7;
}
