body {
	background: url(../images/natural-indulge/background.jpg) repeat;
	}

#MastHead {
	background: url(../images/natural-indulge/bar.jpg);
	background-repeat: repeat-x;
	}
	
#MastHeadInner {
	background: url(../images/logo.png) top left no-repeat;
}

#TopBorder {
	background: url(../images/natural-indulge/topborder.png) no-repeat;
}

#BottomBorder {
	background: url(../images/natural-indulge/bottomborder.png) no-repeat;
}

#Container {
		background: url(../images/natural-indulge/containerbg.png) repeat-y;
}
