body {
	background: #c2cdce;
	}

#MastHead {
	background: url(../images/sleek-steel/bar.jpg);
	background-repeat: repeat-x;
	}
	
#MastHeadInner {
	background: url(../images/logo.png) top left no-repeat;
}

#TopBorder {
	background: url(../images/sleek-steel/topborder.png) no-repeat;
}

#BottomBorder {
	background: url(../images/sleek-steel/bottomborder.png) no-repeat;
}

#Container {
		background: url(../images/sleek-steel/containerbg.png) repeat-y;
}
